@use '../../styles/functions';
@use '../../styles/variables';

$iconHeight: 110px;
$iconMarginTop: functions.rem-calc(-($iconHeight - 30px)); 

.auth-form {
  width: 670px;
  max-width: 100%;
  margin: functions.rem-calc(60px 0);
  padding: functions.rem-calc(30px 72px);
  font-size: functions.rem-calc(22px);
  color: variables.$main-color;
  box-shadow: 0px 0px 3px #b8b7b7;
  border-radius: variables.$border-radius;
  background-color: #ffffff;

  &__icon {
    height: $iconHeight;
    margin: $iconMarginTop auto functions.rem-calc(24px);

    img {
      max-height: 100%;
    }
  }

  &__description {
    color: variables.$second-color;
  }

  &__fields {
    margin: functions.rem-calc(16px 0);
  }

  &__button {
    min-width: 290px;
    margin: functions.rem-calc(8px 0);
    padding: functions.rem-calc(30px 24px);
    font-size: inherit;
    color: #ffffff;
    background-color: variables.$btn-bg-color;
    border: 1px solid variables.$border-color;
    border-radius: variables.$border-radius;
    cursor: pointer;

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}